@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --color-text-primary: #000000;
  --color-text-secondary: #333333;
  --color-text-tertiary: #ffffff;

  --color-background-primary: #ffffff;
  --color-background-secondary: rgba(130, 179, 211, 1);
  --color-background-tertiary: rgba(130, 179, 211, 0.12);
  --color-background-quaternary: rgba(130, 179, 211, 0.2);

  --color-button-background-primary: #756157;
  --color-button-background-secondary: #82b3d3;
  --color-button-background-tertiary: #7db54f;
  --color-button-background-quaternary: #f2f2f2;

  --font-size-text-block: 18px;
  --font-size-text-small: 16px;
  --font-size-text-basic: 22px;

  --line-height-text-block: 21px;
  --line-height-text-small: 21px;
  --line-height-text-basic: 26px;

  --font-size-heading-primary: 60px;
  --font-size-heading-secondary: 30px;
  --font-size-heading-tertiary: 24px;
  --font-size-heading-quaternary: 20px;

  --line-height-heading-primary: 78px;
  --line-height-heading-secondary: 36px;
  --line-height-heading-tertiary: 28px;
  --line-height-heading-quaternary: 24px;

  --font-size-button-primary: 20px;
  --font-size-button-secondary: 16px;

  --line-height-button-primary: 36px;
  --line-height-button-secondary: 20px;

  --font-size-checkbox: 18px;
  --line-height-checkbox: 23px;
  --font-size-input: 18px;
  --line-height-input: 24px;

  --font-weight-bold: 700;
  --font-weight-regular: 400;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: var(--font-size-text-block);
  line-height: var(--line-height-text-block);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--color-text-primary);
  background-color: var(--color-button-background-quaternary);
  margin: unset;
}

.page-header {
  background-color: var(--color-background-primary);
}

/* navigation */
.navigation__link {
  text-decoration: none;
  color: inherit;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-heading-quaternary);
  line-height: var(--line-height-heading-quaternary);
}

.user-menu__favorites-count {
  font-size: 10px;
  line-height: 10px;
  color: var(--color-text-tertiary);
  background-color: var(--color-button-background-tertiary);
}

.user-menu__want {
  font-size: var(--font-size-button-secondary);
  line-height: var(--line-height-button-secondary);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-button-background-primary);
  color: var(--color-text-tertiary);
  text-transform: uppercase;
  text-decoration: none;
}

.hero {
  background-image:
    url("../images/divider.svg"), url("../images/index-main.jpg");
  background-repeat: no-repeat;
  background-size:
    100% auto,
    cover;
  background-position:
    left bottom,
    left top;
  background-color: var(--color-button-background-tertiary);
  text-align: center;
}

/* advantages */
.advantages__slogan {
  font-size: var(--font-size-heading-secondary);
  line-height: var(--line-height-heading-secondary);
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
}

.advantages__subtext {
  font-size: var(--font-size-text-basic);
  line-height: var(--line-height-text-basic);
  text-align: center;
}

.advantages__item {
  text-align: center;
}

.advantages__item:nth-child(2n) {
  background-color: var(--color-background-tertiary);
}

.advantages__item:nth-child(2n + 1) {
  background-color: var(--color-background-quaternary);
}

.advantages__item:first-child,
.advantages__item:last-child {
  background-color: var(--color-background-secondary);
  color: var(--color-text-tertiary);
}

.advantages__title {
  font-size: var(--font-size-heading-tertiary);
  line-height: var(--line-height-heading-tertiary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

/* facilities */
.facilities {
  text-align: center;
}

.facilities__heading {
  font-size: var(--font-size-heading-secondary);
  line-height: var(--line-height-heading-secondary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.facilities__text {
  font-size: var(--font-size-text-basic);
  line-height: var(--line-height-text-basic);
}

.facilities__title {
  font-size: var(--font-size-heading-tertiary);
  line-height: var(--line-height-heading-tertiary);
  font-weight: var(--font-weight-bold);
}

.facilities__item-title {
  font-size: var(--font-size-heading-tertiary);
  line-height: var(--line-height-heading-tertiary);
  font-weight: var(--font-weight-bold);
}

/* search */
.hotel-search {
  text-align: center;
}

.hotel-search__heading {
  font-size: var(--font-size-heading-secondary);
  line-height: var(--line-height-heading-secondary);
  font-weight: var(--font-weight-bold);
}

.hotel-search__text {
  font-size: var(--font-size-text-basic);
  line-height: var(--line-height-text-basic);
}

.hotel-search__button {
  font-size: var(--font-size-button-primary);
  line-height: var(--line-height-button-primary);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-button-background-primary);
  color: var(--color-text-tertiary);
  text-transform: uppercase;
}

/* subscribe */
.subscribe {
  text-align: center;
  color: var(--color-text-primary);
}

.subscribe_special {
  background: url("../images/subcribe.jpg");
  background-color: var(--color-background-secondary);
  color: var(--color-text-tertiary);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__heading {
  font-size: var(--font-size-heading-secondary);
  line-height: var(--line-height-heading-secondary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.subscribe__text {
  font-size: var(--font-size-text-basic);
  line-height: var(--line-height-text-basic);
}

.subscribe__email {
  font-size: var(--font-size-input);
  line-height: var(--line-height-input);
  background-color: var(--color-button-background-quaternary);
  font-weight: inherit;
  font-family: inherit;
}

.subscribe__email_special {
  background-color: var(--color-background-primary);
}

.subscribe__button {
  font-size: var(--font-size-button-primary);
  line-height: var(--line-height-button-primary);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-button-background-secondary);
  color: var(--color-text-tertiary);
  text-transform: uppercase;
}

/* footer */
.page-footer {
  background-color: var(--color-background-primary);
}

.social {
  list-style-type: none;
}

.page-footer__phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

/* main */
.main {
  background-color: var(--color-background-primary);
}

.main__container {
  background-color: var(--color-background-secondary);
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__title {
  font-size: var(--font-size-heading-primary);
  line-height: var(--line-height-heading-primary);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-tertiary);
}

.breadcrumbs__link {
  text-decoration: none;
  font-size: var(--font-size-text-small);
  line-height: var(--line-height-text-small);
  font-weight: inherit;
  color: var(--color-text-tertiary);
}

/* filters */
.filters {
  color: var(--color-text-tertiary);
}

.filters__legend {
  font-size: var(--font-size-heading-quaternary);
  line-height: var(--line-height-heading-quaternary);
  font-weight: var(--font-weight-bold);
}

.filters__label {
  font-size: var(--font-size-checkbox);
  line-height: var(--line-height-checkbox);
}

.filters__group_price {
  font-size: var(--font-size-input);
  line-height: var(--line-height-input);
}

.filters__price {
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  font-size: inherit;
  line-height: inherit;
}

.filters__button {
  font-size: var(--font-size-button-secondary);
  line-height: var(--line-height-button-secondary);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-tertiary);
  text-transform: uppercase;
}

.filters__submit {
  background-color: var(--color-button-background-secondary);
}
.filters__reset {
  background-color: transparent;
}

/* view-control */
.view-control__results {
  font-size: var(--font-size-heading-secondary);
  line-height: var(--line-height-heading-secondary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.view-control__sort {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: var(--color-background-primary);
}

/* hotels */
.hotels__link-title {
  text-decoration: none;
  color: inherit;
}

.hotels__title {
  font-size: var(--font-size-heading-tertiary);
  line-height: var(--line-height-heading-tertiary);
  font-weight: var(--font-weight-bold);
}

.hotels__type {
  text-align: left;
}

.hotels__price {
  text-align: right;
}

.hotels__button {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-button-secondary);
  line-height: var(--line-height-button-secondary);
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.hotels__details {
  background-color: var(--color-button-background-primary);
}

.hotels__favorite {
  background-color: var(--color-button-background-secondary);
}
.hotels__favorite_active {
  background-color: var(--color-button-background-tertiary);
}

.hotels__rating {
  color: var(--color-text-secondary);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--color-button-background-quaternary);
}

/* pagination */
.pagination {
  list-style-type: none;
}

.pagination__item {
  background-color: var(--color-background-secondary);
  color: var(--color-text-tertiary);
}

.pagination__item_more {
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}

.pagination__link {
  color: inherit;
  text-decoration: none;
  font-size: var(--font-size-button-primary);
  line-height: var(--line-height-button-primary);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.pagination__item_current {
  color: var(--color-text-primary);
  background-color: var(--color-button-background-quaternary);
}
