@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --color-text-primary: #000000;
  --color-text-primary-hover: #756157;
  --color-text-primary-active: rgba(117, 97, 87, 0.3);
  --color-text-secondary: #333333;
  --color-text-tertiary: #ffffff;
  --color-text-tertiary-hover: rgba(255, 255, 255, 0.6);
  --color-text-tertiary-active: rgba(255, 255, 255, 0.3);
  --color-text-tertiary-disabled: rgba(255, 255, 255, 0.1);

  --color-background-primary: #ffffff;
  --color-background-secondary: #82b3d3;
  --color-background-tertiary: rgba(130, 179, 211, 0.12);
  --color-background-quaternary: rgba(130, 179, 211, 0.2);

  --color-image-background: #a9a2a2;
  --color-background-basic: rgba(0, 0, 0, 0.3);
  --color-button-background-primary: #756157;
  --color-button-background-primary-hover: #615048;
  --color-button-background-secondary: #82b3d3;
  --color-button-background-secondary-hover: #68a2ca;
  --color-button-background-tertiary: #7db54f;
  --color-button-background-tertiary-hover: #6c9e42;
  --color-button-background-quaternary: #f2f2f2;
  --color-button-background-disabled: #e5e5e5;

  --icons-basic: #000000;
  --icons-basic-active: rgba(0, 0, 0, 0.2);
  --icons-second: #83b3d3;
  --icons-second-hover: #68a2ca;
  --icons-second-active: rgba(104, 162, 202, 0.3);
  --forms-inputs: #3f5e72;

  --font-size-text-block: 18px;
  --font-size-text-small: 16px;
  --font-size-text-basic: 22px;

  --line-height-text-block: 21px;
  --line-height-text-small: 21px;
  --line-height-text-basic: 26px;

  --font-size-heading-primary: 60px;
  --font-size-heading-secondary: 30px;
  --font-size-heading-tertiary: 24px;
  --font-size-heading-quaternary: 20px;

  --line-height-heading-primary: 78px;
  --line-height-heading-secondary: 36px;
  --line-height-heading-tertiary: 28px;
  --line-height-heading-quaternary: 24px;

  --font-size-button-primary: 20px;
  --font-size-button-secondary: 16px;

  --line-height-button-primary: 36px;
  --line-height-button-secondary: 20px;

  --font-size-checkbox: 18px;
  --line-height-checkbox: 23px;
  --font-size-input: 18px;
  --line-height-input: 24px;

  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --border-radius: 4px;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: var(--font-size-text-block);
  line-height: var(--line-height-text-block);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--color-text-primary);
  background-color: var(--color-button-background-quaternary);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button_primary {
  background-color: var(--color-button-background-primary);

  &:is(:hover, :focus-visible) {
    background-color: var(--color-button-background-primary-hover);
  }

  &:active {
    background-color: var(--color-button-background-primary);
    color: var(--color-text-tertiary-active);
  }
}

.button_secondary {
  background-color: var(--color-button-background-secondary);

  &:is(:hover, :focus-visible) {
    background-color: var(--color-button-background-secondary-hover);
  }

  &:active {
    background-color: var(--color-button-background-secondary);
    color: var(--color-text-tertiary-active);
  }
}

.button_tertiary {
  background-color: var(--color-button-background-tertiary);

  &:is(:hover, :focus-visible) {
    background-color: var(--color-button-background-tertiary-hover);
  }

  &:active {
    background-color: var(--color-button-background-tertiary);
    color: var(--color-text-tertiary-active);
  }
}

.button {
  font-family: inherit;
  font-size: var(--font-size-button-secondary);
  line-height: var(--line-height-button-secondary);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-tertiary);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: var(--border-radius);
  margin: 0;
  padding: 8px 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:disabled {
    background-color: var(--color-button-background-disabled);
    color: var(--color-text-tertiary);
    pointer-events: none;
  }
}

.button_big {
  font-size: var(--font-size-button-primary);
  line-height: var(--line-height-button-primary);
}

.title {
  margin: 0;
  font-size: var(--font-size-heading-tertiary);
  line-height: var(--line-height-heading-tertiary);
  font-weight: var(--font-weight-bold);
}

.title_small {
  font-size: var(--font-size-heading-quaternary);
  line-height: var(--line-height-heading-quaternary);
}

.title_big {
  font-size: var(--font-size-heading-secondary);
  line-height: var(--line-height-heading-secondary);
}

.title_huge {
  font-size: var(--font-size-heading-primary);
  line-height: var(--line-height-heading-primary);
}

.title_accent {
  text-transform: uppercase;
  text-align: center;
}

.text_basic {
  font-size: var(--font-size-text-basic);
  line-height: var(--line-height-text-basic);
}

.page {
  margin: unset;
  height: 100%;
}

.page__wrapper {
  background-color: var(--color-background-primary);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  padding-inline: 70px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.page-header__navigation {
  z-index: 1;
}

/* navigation */
.navigation {
  display: flex;
  gap: 30px;
  flex-grow: 2;
  flex-basis: 516px;
}

.navigation__logo {
  margin-block-end: -6px;
  height: 70px;
}

.navigation__image {
  display: block;
  flex-shrink: 0;
  height: 100%;
  width: auto;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  row-gap: 10px;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  display: block;
  color: inherit;
  padding: 20px 16px;
  position: relative;

  &:not(.navigation__link_current) {

    &:is(:hover, :focus-visible) {
      color: var(--color-text-primary-hover);
    }

    &:active {
      color: var(--color-text-primary-active);
    }
  }
}

.navigation__link_current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
}

.user-menu {
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 268px;
  row-gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-inline-start: auto;
}

.user-menu__button {
  min-width: 44px;
  min-height: 64px;
  text-decoration: none;
  position: relative;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: var(--color-text-primary);
    transition: background-color 0.3s ease-in-out;
  }

  &:is(:hover, :focus-visible) {
    &::after {
      background-color: var(--color-text-primary-hover);
    }

    & .user-menu__favorites-count {
      color: var(--color-text-tertiary-hover);
      background-color: var(--color-button-background-tertiary-hover);
    }
  }

  &:active {
    &::after {
      background-color: var(--color-text-primary-active);
    }

    & .user-menu__favorites-count {
      color: var(--color-text-tertiary-active);
      background-color: var(--color-button-background-tertiary);
    }
  }
}

.user-menu__search::after {
  mask-image: url("../images/search.svg");
}

.user-menu__favorites::after {
  mask-image: url("../images/heart.svg");
}

.user-menu__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.user-menu__favorites-count {
  font-size: 10px;
  line-height: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 4px;
  z-index: 1;
  color: var(--color-text-tertiary);
  background-color: var(--color-button-background-tertiary);
}

.user-menu__want {
  min-width: 160px;
  box-sizing: border-box;
  margin-inline-start: 20px;
  display: block;
}

.hero {
  background-image:
    url("../images/divider.svg"), url("../images/index-main.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-color: var(--color-image-background);
  padding-block: 51px 82px;
}

.hero__image {
  margin: auto;
  display: block;
}

/* advantages */
.advantages {
  padding-block-start: 69px;
}

.advantages__slogan {
  margin: 0 auto 25px;
  max-width: 620px;
}

.advantages__subtext {
  color: var(--color-text-secondary);
  text-align: center;
  margin-block-end: 90px;
  padding-inline: 150px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  background-color: var(--color-background-quaternary);
  text-align: center;
  flex-basis: 400px;
  flex-grow: 1;
  min-height: 385px;
  display: flex;
  align-items: center;
}

.advantages__item_dark {
  background-color: var(--color-background-secondary);
  color: var(--color-text-tertiary);
}

.advantages__item_light {
  background-color: var(--color-background-tertiary);
}

.advantages__item_special {
  flex-basis: 100%;
}

.advantages__container {
  flex-grow: 1;
  padding-inline: 85px;
  max-width: 400px;
}

.advantages__image {
  flex-grow: 2;
  display: block;
}

.advantages__title {
  margin: 0 auto 30px;
  max-width: 175px;
}

.advantages__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: var(--color-background-basic);
  margin: 30px auto 0;
}

.advantages__title_special::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages__text {
  color: var(--color-text-secondary);
  margin: 0;
}

.advantages__text_dark {
  color: inherit;
}

/* facilities */
.facilities {
  text-align: center;
}

.facilities__heading {
  font-size: var(--font-size-heading-secondary);
  line-height: var(--line-height-heading-secondary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin: 64px auto 20px;
}

.facilities__subtext {
  color: var(--color-text-secondary);
  margin: 0 auto 64px;
}

.facilities__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.facilities__item {
  box-sizing: border-box;
  text-align: center;
  padding: 79px 85px 81px;
  flex-basis: 400px;
  flex-grow: 1;
}

.facilities__item::before {
  content: "";
  width: 72px;
  height: 75px;
  display: block;
  margin: 0 auto 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.facilities__item_home::before {
  background-image: url("../images/home.svg");
}

.facilities__item_food::before {
  background-image: url("../images/food.svg");
}

.facilities__item_souvenirs::before {
  background-image: url("../images/souvenirs.svg");
}

.facilities__item_dark {
  background-color: var(--color-background-tertiary);
}

.facilities__title {
  margin: 0 auto 30px;
  max-width: 230px;
}

.facilities__text {
  color: var(--color-text-secondary);
  margin: 0 auto;
  max-width: 230px;
}

/* search */
.hotel-search {
  text-align: center;
  padding: 96px 304px;
}

.hotel-search__heading {
  margin: 0 auto 20px;
}

.hotel-search__text {
  color: var(--color-text-secondary);
  margin: 0 auto 54px;
}

.hotel-search__button {
  padding-inline: 50px;
}

/* subscribe */
.subscribe {
  text-align: center;
  color: var(--color-text-primary);
  padding: 96px 258px 104px;
}

.subscribe_special {
  background-image: url("../images/subcribe.jpg");
  background-color: var(--color-image-background);
  color: var(--color-text-tertiary);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__heading {
  margin: 0 auto 20px;
}

.subscribe__text {
  color: var(--color-text-secondary);
  margin: 0 auto 54px;
}

.subscribe__text_special {
  color: inherit;
}

.subscribe__form {
  display: flex;
}

.subscribe__email {
  font-size: var(--font-size-input);
  line-height: var(--line-height-input);
  background-color: var(--color-background-primary);
  font-weight: inherit;
  font-family: inherit;
  border: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  padding: 14px 20px;
  margin: 0;
  color: inherit;
  width: 452px;

  &:focus-visible {
    outline: 3px solid var(--icons-second);
  }
}

.subscribe__email_reverse {
  background-color: var(--color-button-background-quaternary);
}

.subscribe__button {
  min-width: 232px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

/* footer */
.page-footer {
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  min-height: 50px;
}

.social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__link {
  display: block;
  min-width: 47px;
  min-height: 40px;
  color: var(--icons-second);
  position: relative;
  transition: color 0.3s ease-in-out;

  &:is(:hover, :focus-visible) {
    color: var(--icons-second-hover);
  }

  &:active {
    color: var(--icons-second-active);
  }
}

.social__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.page-footer__phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
  max-width: 500px;
  transition: color 0.3s ease-in-out;

  &:is(:hover, :focus-visible) {
    color: var(--color-text-primary-hover);
  }

  &:active {
    color: var(--color-text-primary-active);
  }
}

.page-footer__logo {
  color: inherit;
  transition: color 0.3s ease-in-out;

  &:is(:hover, :focus-visible) {
    color: var(--color-text-primary-hover);
  }

  &:active {
    color: var(--color-text-primary-active);
  }
}

/* main */
.main {
  flex-grow: 1;
}

.main__container {
  background-color: var(--color-image-background);
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 70px 70px;
}

.main__title {
  color: var(--color-text-tertiary);
  margin-block-end: 8px;
  text-align: left;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  row-gap: 10px;
}

.main__breadcrumbs {
  margin-block-end: 40px;
}

.breadcrumbs__item {
  color: var(--color-text-tertiary);
  display: flex;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  width: 7px;
  height: 20px;
  margin: auto 5px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.breadcrumbs__item:first-child .breadcrumbs__link {
  padding-inline-start: 0;
}

.breadcrumbs__link {
  padding-inline: 5px;
  text-decoration: none;
  font-size: var(--font-size-text-small);
  line-height: var(--line-height-text-small);
  font-weight: inherit;
  color: inherit;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.breadcrumbs__link_home {
  display: block;
  position: relative;
  padding-block: 3px;
  padding-inline-end: unset;
  width: 18px;
  height: 15px;
}

.breadcrumbs__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto auto 0;
}

/* filters */
.filters {
  color: var(--color-text-tertiary);
}

.filters__form {
  display: flex;
  gap: 70px;
}

.filters__group {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 200px;
}

.filters__group:last-of-type {
  margin-inline-start: auto
}

.filters__legend {
  margin-block-end: 32px;
  padding: 0;
}

.filters__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filters__item {
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.filters__button-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filters__checkbox:checked + .filters__mark::after,
.filters__radio:checked + .filters__mark::after {
  background-color: var(--forms-inputs);
}

.filters__control {
  position: relative;
  font-size: var(--font-size-checkbox);
  line-height: var(--line-height-checkbox);
  padding-inline-start: 36px;

  &:focus-within > .filters__mark {
    outline: 2px solid var(--icons-second-hover);
  }
}

.filters__mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color-background-primary);
  top: 1.5px;
  left: 0;

  &::after {
    content: "";
    position: absolute;
    transition: background-color 0.1s ease-in-out;
  }
}

.filter__mark_checkbox {
  border-radius: var(--border-radius);

  &::after {
    width: 100%;
    height: 100%;
    mask-image: url(../images/checkbox.svg);
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

.filter__mark_radio {
  border-radius: 50%;

  &::after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

.filters__label {
  font-size: var(--font-size-checkbox);
  line-height: var(--line-height-checkbox);
  padding-inline-start: 36px;
}

.filter__container {
  grid-area: list;
  font-size: var(--font-size-input);
  line-height: var(--line-height-input);
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-block-end: 44px;
}

.filters__price-container {
  position: relative;
  cursor: text;

  &::after {
    position: absolute;
    display: block;
    top: 12px;
    right: 20px;
    color: var(--color-background-basic);
  }

  &:has(> .filters__price_min)::after {
    content: "от";
  }

  &:has(> .filters__price_max)::after {
    content: "до";
  }

  &:is(:hover, :focus-visible) {
    background-color: #e6e6e6;
  }

  &:focus-visible {
    outline: 3px solid var(--icons-second);
  }
}

.filters__price {
  position: relative;
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  width: 143px;
  box-sizing: border-box;
  padding: 12px 54px 12px 20px;
  border: none;

  &:focus-visible {
    outline: 3px solid var(--icons-second);
  }
}

.filters__price_min {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.filters__price_max {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.filters__range-scale {
  position: relative;
  height: 4px;
  background-color: var(--color-text-tertiary-active);
}

.filters__range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--color-background-primary);
}

.filters__range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color-background-primary);
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &:focus-visible {
    outline: 3px solid var(--icons-second);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    outline: 2px solid var(--icons-second);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  }
}

.filters__toggle-min {
  top: -8px;
  left: 0;
}

.filters__toggle-max {
  top: -8px;
  right: 0;
}


.filters__button {
  min-width: 191px;
}

.filters__submit {
  margin-block-start: 56px;
}

.filters__reset {
  background-color: transparent;
  padding-block: 5px;
  border: 3px solid transparent;

  &:hover {
    color: var(--color-text-tertiary-hover);
  }

  &:focus-visible {
    outline: none;
    border-color: var(--icons-second);
  }

  &:active {
    color: var(--color-text-tertiary-active);
  }

  &:disabled {
    color: var(--color-text-tertiary-disabled);
    background-color: transparent;
  }
}

/* view-control */

.view-control {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.view-control__results {
  min-height: 49px;
  display: flex;
  align-items: center;

}

.view-control__sort {
  --border: var(--color-button-background-disabled);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: var(--color-background-primary);
  padding: 14px 36px 14px 20px;
  min-width: 292px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px var(--border);
  margin-inline-start: auto;
  margin-inline-end: 14px;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("../images/selector-apearance.svg");
  background-position: right 18px center;
  background-repeat: no-repeat;

  &:is(:hover, :focus-visible) {
    --border: var(--icons-second);
  }

  &:disabled {
    opacity: 0.3;
    --border: var(--color-text-primary);
  }
}

.display-type {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 8px;
  padding: 0;
  margin: 0;
  width: 216px;
}

.display-type__link {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid var(--color-button-background-disabled);
  border-radius: var(--border-radius);
  display: block;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;

  &:is(:hover, :active) {
    border: 2px solid var(--icons-basic);
  }

  &:focus-visible {
    outline: none;
    border-color: var(--icons-second);
  }
}

.display-type__link_table {
  background-image: url("../images/table.svg");
}

.display-type__link_slideshow {
  background-image: url("../images/slideshow.svg");
}

.display-type__link_list {
  background-image: url("../images/list.svg");
}

.display-type__link_active {
  border: 2px solid var(--icons-basic);
}

/* hotels */
.main__hotels-container {
  padding: 50px 70px 60px;
}

.hotels {
  padding-block-start: 40px;
}

.hotels__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-block-end: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.hotels__item {
  display: grid;
  grid-template-columns: 140px 140px;
  Grid-template-rows: min-content auto min-content min-content min-content;
  grid-template-areas: "image image"
    "title title"
    "type price"
    "link button"
    "stars rating";
  gap: 16px 20px;
  padding: 20px;
  box-shadow: 0 0 0 1px var(--color-button-background-disabled);
}

.hotels__link-image {
  grid-area: image;
}

.hotels__image {
  width: 100%;
  object-fit: contain;
  height: auto;
  display: block;

  &:is(:hover, :focus-visible) {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.hotels__link-title {
  text-decoration: none;
  color: inherit;
  grid-area: title;
}

.hotels__title {
  &:is(:hover, :focus-visible) {
    color: var(--color-text-primary-hover);
  }

  &:active {
    color: var(--color-text-primary-active);
  }
}

.hotels__type {
  text-align: left;
  color: var(--color-text-secondary);
  grid-area: type;
  margin: 0;
}

.hotels__price {
  text-align: right;
  color: var(--color-text-secondary);
  grid-area: price;
  margin: 0;
}

.hotels__details {
  grid-area: link;
}

.hotels__favorite {
  grid-area: button;
}

.hotels__stars {
  grid-area: stars;
  background-image: url("../images/star.svg");
  background-repeat: space;
  background-position: left;
  background-size: 18px 40px;
  max-height: 38px;
}

.hotels__stars_one {
  max-width: 17px;
}

.hotels__stars_two {
  max-width: 40px;
}

.hotels__stars_three {
  max-width: 63px;
}

.hotels__stars_four {
  max-width: 86px;
}

.hotels__stars_five {
  max-width: 108px;
}

.hotels__rating {
  color: var(--color-text-secondary);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--color-button-background-quaternary);
  grid-area: rating;
  padding-block: 9px 8px;
  margin: 0;
  border-radius: var(--border-radius);
}

/* pagination */

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-block-start: 40px;
}

.pagination__link {
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.pagination__link_more {
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
  cursor: unset;
}

.pagination__link_current {
  color: var(--color-text-primary);
  background-color: var(--color-button-background-quaternary);
  cursor: unset;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal_hidden {
  display: none;
}

.modal__content {
  position: relative;
  border: none;
  border-radius: 30px;
  padding: 64px 70px;
  background-color: var(--color-background-primary);
}

.modal__title {
  text-align: left;
  margin-block-end: 64px;
  margin-inline-end: 64px;
}

.modal__close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-button-background-quaternary);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:is(:hover, :focus-visible, :active) {
    background-color: var(--color-button-background-disabled);
  }

  &:focus-visible {
    outline: 3px solid var(--icons-second);
  }

  &:active::after,
  &:active::before {
    opacity: 0.3;
  }
}

.modal__close::before,
.modal__close::after {
  position: absolute;
  content: "";
  top: 25px;
  left: 17px;
  width: 18px;
  height: 2px;
  background-color: var(--color-text-primary);
  transition: opacity 0.3s ease-in-out;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}

.modal__form {
  display: grid;
  grid-template-areas: "arrival-label arrival-date arrival-date arrival-date"
    ". arrival-info arrival-info arrival-info"
    "departure-label departure-date departure-date departure-date"
    ". departure-info departure-info departure-info"
    "adult-label adult-count children-label children-count"
    "button button button button";
  grid-template-columns: 121px 110px 189px 110px;
  column-gap: 16px;
  align-items: center;
}

.modal__label_arrival {
  grid-area: arrival-label;
}

.modal__info_arrival {
  grid-area: arrival-info;
}

.modal__label_departure {
  grid-area: departure-label;
}

.modal__info_departure {
  grid-area: departure-info;
}

.modal__label_adult {
  grid-area: adult-label;
}

.modal__children-tooltip {
  grid-area: children-label;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-inline-start: 42px;
}

.modal__input_arrival {
  grid-area: arrival-date;
}

.modal__input_departure {
  grid-area: departure-date;
}

.modal__container_adult {
  grid-area: adult-count;
}

.modal__container_children {
  grid-area: children-count;
}

.modal__button {
  grid-area: button;
  margin-block-start: 48px;
  padding-block: 18px;
  line-height: 24px;
}

.modal__info {
  min-height: 21px;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-text-secondary);
  margin: 4px 20px 23px;
}

.modal__info_error {
  color: #ff5757;
}

.modal__input {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: inherit;
  padding: 12px 52px 12px 20px;
  border: none;
  border-radius: var(--border-radius);
  position: relative;
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-color: var(--color-button-background-quaternary);

  &:is(:hover, :focus-visible) {
    background-color: #e6e6e6;
  }

  &:focus-visible {
    outline: 3px solid var(--icons-second);
  }

  &::placeholder {
    color: var(--color-text-primary);
    opacity: 0.6;
  }
}

.modal__countainer {
  min-width: 31px;
  background-color: var(--color-button-background-quaternary);
  display: flex;

  &:has(.modal__counter:focus-visible) {
    outline: 3px solid var(--icons-second);
  }
}

.modal__counter {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: inherit;
  width: 31px;
  padding: 14px 5px;
  box-sizing: border-box;
  background-color: transparent;
  text-align: center;
  border:
    none;
  appearance: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;


  &:focus-visible {
    outline: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

.modal__changer {
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  padding-inline: 10px;
  --icon-color: var(--color-text-primary-active);

  &:is(:hover, :focus-visible) {
    --icon-color: var(--icons-basic);
  }

  &:focus-visible {
    outline: none;

    & .modal__changer-inner {
      outline: 3px solid var(--color-button-background-secondary);
    }
  }

  &:active {
    --icon-color: var(--icons-basic-active);
  }
}

.modal__changer_minus {
  order: -1;
  --sign-icon: url("../images/minus.svg");
}

.modal__changer_plus {
  --sign-icon: url("../images/plus.svg");
}

.modal__changer-inner {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius);

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: var(--icon-color);
    mask-image: var(--sign-icon, "../images/plus.svg");
    transition: background-color 0.3s ease-in-out;
  }
}

.modal__tooltip {
  position: relative;
}

.modal__tooltip-button {
  width: 26px;
  height: 26px;
  padding: 0;
  display: block;
  background-color: var(--icons-second);
  border: none;
  border-radius: 100%;

  &:is(:hover, :focus-visible, :active) + .modal__tooltip-text {
    display: block;
  }
}

.modal__tooltip-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--color-background-primary);
}

.modal__tooltip-text {
  display: none;
  position: absolute;
  width: 256px;
  box-sizing: border-box;
  top: calc(100% + 15px);
  left: 13px;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-tertiary);
  box-shadow: 0 15px 30px 0 var(--color-background-basic);
  background: var(--color-text-secondary);
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
}

.modal__tooltip-text::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--color-text-secondary);
}
